/* p-service
--------------------------- */
@use "./../../foundation/system" as s;

.p-service {
	// c-section__header
	.c-section__header {
		justify-content: center;
	}

	background-image: url(./../img/service-bg-before.jpg),
		url(./../img/service-bg-after.jpg);
	background-position: left bottom 0px, right bottom 10px;
	background-size: 44%, 50%;
	background-repeat: no-repeat, no-repeat;

	&__description {
		max-width: 500px;
		margin: 0 auto;
		p + p {
			margin: 20px 0 0;
		}
	}

	@include s.breakpoint(tablet) {
		background-position: left bottom 40px, right top 30px;
		background-size: 24%;
	}
	@include s.breakpoint(pc) {
	}
}
