/* c-button
--------------------------- */
@use "./../../foundation/system" as s;

.c-button {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: s.$c-base;
	background-color: s.$c-accent;
	border: solid 2px s.$c-accent;
	border-radius: 2px;
	padding: 16px 79px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: -7px;
		right: -7px;
		width: 100%;
		height: 2px;
		background-color: s.$c-accent;
		transition: 0.4s ease 0s;
	}
	&::after {
		content: "";
		position: absolute;
		top: 7px;
		right: -7px;
		width: 2px;
		height: 100%;
		background-color: s.$c-accent;
		transition: 0.4s ease 0s;
	}
	&:hover {
		color: s.$c-accent;
		background-color: transparent;
		&:before {
			width: 0%;
		}
		&:after {
			height: 0%;
		}
	}
	&Copy {
		margin: 0 auto 16px;
	}
	&Block {
		text-align: center;
		margin: 40px 0 0;
	}

	@include s.breakpoint(tablet) {
	}
	@include s.breakpoint(pc) {
	}
}
