/* c-form
--------------------------- */
@use "./../../foundation/system" as s;

.c-form {
	max-width: 600px;
	&__item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-bottom: 20px;
	}
	&__label,
	&__input {
		padding: 10px;
	}
	&__label {
		width: 90%;
	}
	&__input {
		width: 90%;
		font-size: 16px;
		border: solid 1px s.$c-body;
		border-radius: 4px;
		&:focus-visible {
			outline: s.$c-accent auto 1px;
		}
	}
	ul.c-form__input {
		border: none;
		list-style-type: none;
		margin: 0;
	}
	textarea.c-form__input {
		height: 160px;
	}

	&__required {
		color: s.$c-base-sub;
		background-color: s.$c-accent;
		border-radius: 4px;
		padding: 5px 5px;
		margin: 0 0 0 18px;
	}

	&__submit {
		text-align: center;
	}
	&__submit button {
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		color: s.$c-base;
		background-color: s.$c-accent;
		border: solid 2px s.$c-accent;
		border-radius: 2px;
		padding: 12px 79px;
		position: relative;
		cursor: pointer;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: -7px;
			right: -7px;
			width: 100%;
			height: 2px;
			background-color: s.$c-accent;
			transition: 0.4s ease 0s;
		}
		&::after {
			content: "";
			position: absolute;
			top: 7px;
			right: -7px;
			width: 2px;
			height: 100%;
			background-color: s.$c-accent;
			transition: 0.4s ease 0s;
		}
		&:hover {
			color: s.$c-accent;
			background-color: transparent;
			&:before {
				width: 0%;
			}
			&:after {
				height: 0%;
			}
		}
	}

	&Thanks {
		text-align: center;
		max-width: 600px;
		margin: 40px auto 0;
		padding: 8px;
		border: solid 3px s.$c-accent;
		border-radius: 2px;

		display: none;
		&.is-received {
			display: block;
		}
	}

	@include s.breakpoint(tablet) {
		&__item {
			flex-wrap: nowrap;
		}
		&__label {
			width: 40%;
		}
		&__input {
			width: 55%;
		}
	}
	@include s.breakpoint(pc) {
	}
}
